*.exe
*.out
*.app

*.o
*.obj

*.log
*.dep

*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
.idea/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
build-*/

*~
*.bak
*.swp

.DS_Store
Thumbs.db
